
    body{
      background-image: linear-gradient(to bottom right, white, rgba(47, 79, 79, 0.705));
    }
   
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      border-block-start-color: darkslategrey;
      border-left-color: darkslategrey;
      border-bottom-color: darkslategrey;

    }
    
    #msg-glyph{
    color: white;

    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;

    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }

    .jumbotron {
      background: url('header.jpg') no-repeat;
      background-color: black;
      background-position: center;
      background-size: cover;
      background-position-y: top;
      min-width: 80%;
    margin-bottom: 0px;
    text-align: center;
      
    }
    .jumbotron img {
      opacity:0.6;
      filter:alpha(opacity=60);
    }
  
  .jumbotron h1 {
    color: white;
    font-weight: bold;
    animation-delay: 0s;
    background-color: rgba(0, 0, 0, 0.342);
  }


#filters  {
  display: flex;
 justify-content: space-between;
 align-items: center;
  width: auto;
}
  .form-group {
    display: inline-flex;
    width: 30%;
  }

 .navbar {
  background-image: linear-gradient(to bottom right, darkslategrey, rgba(137, 146, 146, 0.705));
   
 }

 hr {
   background-color: darkslategray ;

}
.row.vertical-divider [class*='col-']:not(:last-child)::after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

#comment {
  width:2em;
}
.table {
  background-color: white;
}
.navbar-inverse a:focus, .navbar-inverse .navbar-nav a:hover{
  background-color: #08080852;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color:  darkslategrey;
}
.navbar-inverse .navbar-nav>li:hover {
  background-color: #08080852;

}